<% layout('./layouts/boilerplate') -%>
<body>
  <div class="row">
    <div class="col-8 offset-2">
      <h1>Edit Details</h1>
      <br />

      <form action="/listings/<%=listings._id%>?_method=PUT" method="post">
        <div class="mb-3 ">
          <label for="title" class="form-label">Title</label>
          <input
            type="text"
            value="<%=listings.title%>"
            id="title"
            class="form-control"
            name="listing[title]"
          />
        </div>
        <div class="mb-3 ">
          <label for="desc" class="form-label">Description</label>
          <textarea name="listing[description]" id="desc" class="form-control">
<%=listings.description%></textarea
          >
        </div>
        <div class="row">
          <div class="
mb-3 col-md-5">
            <label for="price" class="form-label">Price</label>
            <input
              type="text"
              value="<%=listings.price%>"
              id="price"
              class="form-control"
              name="listing[price]"
            />
          </div>
          <div class="
mb-3 col-md-7">
            <label for="location" class="form-label">Location</label>
            <input
              type="text"
              value="<%=listings.location%>"
              id="location"
              class="form-control"
              name="listing[location]"
            />
          </div>
        </div>
        <div class="mb-3 ">
          <label for="country" class="form-label">Country</label>
          <input
            type="text"
            value="<%=listings.country%>"
            id="country"
            class="form-control"
            name="listing[country]"
          />
        </div>
        <div class="mb-3 ">
          <label for="image" class="form-label"></label>
          <input
            type="text"
            value="<%=listings.image.url%>"
            id="image"
            class="form-control"
            name="listing[image.url]"
          />
        </div>
        <br /><br />
        <button class="btn btn-dark createbtn">Submit</button>
        <br><br>
      </form>
    </div>
  </div>
</body>
