<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Listing All Info</h1>
    <br><hr>
    <br>
    <ul>
        <li>Title: <%= listings.title %></li>
        <li>Description: <%= listings.description %></li>
        <li>Price: <%= listings.price.toLocaleString("en-IN") %></li>
        <li>Location: <%= listings.location %></li>
        <li>Country: <%= listings.country %></li>
        <li>Image Name: <%= listings.image.filename %></li>
    </ul>
    <br>
    <form action="/listings/<%=listings._id%>/edit" method="get">
        <button>Edit</button>
    </form>
    <br>
    <form action="/listings/<%= listings._id %>?_method=DELETE" method="POST" onsubmit="return confirmDelete()">
    <button type="submit">DELETE</button>
</form>

<script>
    function confirmDelete() {
        return confirm("Are you sure you want to delete this listing?");
    }
</script>

    
</body>
</html>