<% layout('./layouts/boilerplate') -%>

<body>
    <div class="row">
        <div class="col offset-2">
            <h1><i><b>INFORMATION'S</b></i></h1>
            <hr>
    <img src="<%= listings.image.url %>" alt="" class="ShowImg mb-3">
    <h1><b><%= listings.title %></b></h1>
    <p style="width: 45rem "><%= listings.description %></p>
    <p>MRP: &#8377; <%= listings.price.toLocaleString("en-IN") %>/NIGHT</p>
    <div class="details">
        <p>Location: <%= listings.location %></p>
        <p>Country: <%= listings.country %></p>
    </div>
    <br>
    <div class="showbtns">
        <form action="/listings/<%=listings._id%>/edit" method="get">
        <button class="btn btn-dark createbtn">Edit</button>
    </form>
    <form action="/listings/<%= listings._id %>?_method=DELETE" method="POST" onsubmit="return confirmDelete()">
    <button type="submit" class="btn btn-dark createbtn">DELETE</button>
</form>
<br><br><br>
    </div>
        </div>
    </div>

<script>
    function confirmDelete() {
        return confirm("Are you sure you want to delete this listing?");
    }
</script>

    
</body>
